.todoList {
  margin: 20px auto;
  width: 100%;
  background-color: #ecedf6;
  border-radius: 10px;
  padding: 10px 20px;
}

.todoItem {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 0;
}

.checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  min-width: 15px;
  min-height: 15px;
  border-radius: 4px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:checked {
  background-color: #6670ef;
  border-color: #6670ef;
}

.checkbox:checked::before {
  content: '\2713';
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10px;
}

.taskTitle {
  font-size: 1rem;
  color: #333;
}

.taskDate {
  font-size: 0.8rem;
  color: #666;
}

.taskActions {
  display: flex;
  gap: 10px;
}

.editButton {
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #357ab8;
}

.deleteButton {
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #c0392b;
}

/* Vista sin tareas */
.noTasks {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}