.todoList, .todoListNoTasks {
  margin: 20px auto;
  background-color: #ecedf6;
  border-radius: 10px;
  padding: 10px 20px;
}

.todoItem {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.checkbox:checked {
  background-color: #6670ef;
  border-color: #6670ef;
}

.checkbox:checked::before {
  content: '\2713';
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10px;
}

.taskTitle {
  font-size: 1rem;
  color: #333;
}

.taskDate {
  font-size: 0.8rem;
  color: #666;
}

.taskActions {
  display: flex;
  gap: 10px;
}

.editButton, .deleteButton {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #efefef;
  color: #585858;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton:hover, .deleteButton:hover {
  background-color: #d0d0d0;
}

/* Vista sin tareas o con error */
.noTasks, .error {
  background-color: #dee0e2;
  text-align: center;
  font-size: 1rem;
  color: #666;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
}

.error {
  color: red;
}

.todoListNoTasks {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
  .todoList, .todoListNoTasks {
    width: 90%;
    padding: 10px;
  }

  .todoItem {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .taskInfo {
    width: 100%;
    margin-left: 0;
  }

  .taskActions {
    width: 100%;
    margin-top: 10px;
  }

  .editButton, .deleteButton {
    font-size: 0.9rem;
    padding: 5px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
    font-size: 1em;
    margin-left: 0;
  }

  .checkbox:checked::before {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 480px) {
  .todoItem {
    padding: 8px;
  }

  .taskTitle {
    font-size: 0.9rem;
  }

  .taskDate {
    font-size: 0.7rem;
  }

  .editButton, .deleteButton {
    font-size: 0.8rem;
    padding: 4px;
  }

  .checkbox {
    width: 20px;
    height: 20px;
    font-size: 0.9em;
  }

  .checkbox:checked::before {
    font-size: 0.6em;
  }
}
